<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zl.freight">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- //获取设备网络状态，禁用后无法获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- //网络权限，当禁用后，无法进行检索等相关业务 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- //读取设备硬件信息，统计数据 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- //读取系统信息，包含系统版本等信息，用作统计 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- //获取设备的网络状态，鉴权所需网络代理 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- //允许sd卡写权限，需写入地图数据，禁用后无法显示地图 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- //获取统计数据 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- //鉴权所需该权限获取进程列表 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 添加可以向外拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 张磊调试使用(百度地图) -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="6hvAe9BMqh19BHwTLiZdzE7QWO1wNEzu" />

        <!-- 张磊调试使用（极光推送） -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="e0c1a5ae408c8f3ba0700a0a" />

        <!-- 注册设计图纸 -->
        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <!-- 百度定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- 付钱拉SDK需要添加 -->

        <activity
            android:name="com.fuqianla.paysdk.app.FuQianLaActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 付钱拉SDK张磊的测试KEY -->
        <meta-data
            android:name="FQL_APPKEY"
            android:value="fPXb00o5IvnxxlKCZmbM4w" />

        <!-- 支付宝需要添加 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 微信需要添加 -->
        <activity
            android:name="com.fuqianla.paysdk.wxapi.PaymentActivity"
            android:launchMode="singleTop" />

        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.fuqianla.paysdk.wxapi.PaymentActivity" />

        <!-- 司机位置上传服务 -->
        <service android:name=".service.LocationService" />

        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RoleChooseActivity"
            android:theme="@style/RoleTheme" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.PictureActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.ShipperActivity" />
        <activity
            android:name=".ui.activity.AddressChooseActivity"
            android:theme="@style/AddressTheme" />
        <activity android:name=".ui.activity.NewsDetailActivity" />
        <activity android:name=".ui.activity.PublishNewsActivity" />
        <activity android:name=".ui.activity.InfoQueryActivity" />
        <activity android:name=".ui.activity.EditPersonDataActivity" />
        <activity android:name=".ui.activity.MyMoneyActivity" />
        <activity android:name=".ui.activity.GoodsMainActivity" />
        <activity android:name=".ui.activity.GoodsRegisterActivity" />
        <!-- 图片选择器 -->
        <activity
            android:name="com.foamtrace.photopicker.PhotoPickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PhotoPickerTheme" />
        <activity
            android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme" />
        <activity android:name=".ui.activity.UserCheckActivity" />
        <activity android:name=".ui.activity.UserCheckDetailActivity" />
        <activity android:name=".ui.activity.MyOrderActivity" />
        <activity android:name=".ui.activity.GoodsDetailActivity" />
        <activity
            android:name=".ui.activity.LookGoodsLocationActivity"
            android:theme="@style/AddressTheme" />
        <activity android:name=".ui.activity.ForgetPasswordActivity" />
        <activity android:name=".ui.activity.GoodsOrderActivity" />
        <activity
            android:name=".ui.activity.LookDriverActivity"
            android:theme="@style/AddressTheme" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.zl.freight" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activity.JiFenStoreActivity" />
        <activity android:name=".ui.activity.DriverDetailActivity" />
        <activity android:name=".ui.activity.URegisterActivity" />
        <activity android:name=".ui.activity.MyNewsActivity" />
        <activity android:name=".ui.activity.ADActivity" />
        <activity android:name=".ui.activity.FeedbackActivity" />
        <activity android:name=".ui.activity.WebActivity" />
        <activity android:name=".ui.activity.ProgressTestActivity"></activity>
    </application>

</manifest>